<footer class="wrapper">
  <div class="footer__contact footer__block rule col-4">
    <h3>
      {{ site.contact }}
    </h3>
  </div>
  <div class="footer__copyright footer__block rule col-4">
    <h3>
      <a href="/privacy">
        Privacy Policy
      </a>
    </h3>
    <h3>
      Copyright, {{ 'now' | date: "%Y" }}
    </h3>
  </div>
  <div class="footer__social footer__block rule col-4">
    {% for item in site.social %}
      <a href="{{ item[1] }}">
        <h3 class="pill hover">
          {{ item[0] }}
        </h3>
      </a>
    {% endfor %}
  </div>
</footer>
