@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
  height: auto;
}

// Wrapper
/////////////////////////////////////////////////////
.wrapper {
  width: 85%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap: $gutter;
  @include break-at("md") {
    width: 90%;
    grid-column-gap: $gutter-half;
    grid-row-gap: $gutter-half;
    &__home {
      grid-column-gap: $gutter-quarter;
    }
  }
  @include break-at("sm") {
    width: 95%;
  }
}

// Color Switch
/////////////////////////////////////////////////////
body {
  @include transition(all, 0.2s, ease);
  &.dark {
    background-color: $black;
    color: $gray;
    .pill {
      border-color: $gray;
      &.hover:hover {
        background-color: $gray;
        color: $black;
      }
      &.filled {
        background-color: $gray;
        color: $black;
        &.hover:hover {
          background-color: $black;
          color: $gray;
        }
      }
    }
    .rule {
      border-color: $gray;
    }
    .home__thumbnail__image {
      background-color: $gray;
    }
    .header__color__picker {
      border-color: $gray;
      &--toggle {
        margin-left: 20px;
        background-color: $gray;
      }
    }
  }
  &.light {
    background-color: $gray;
    color: $black;
    .pill {
      border-color: $black;
      &.hover:hover {
        background-color: $black;
        color: $gray;
      }
      &.filled {
        background-color: $black;
        color: $gray;
        &.hover:hover {
          background-color: $gray;
          color: $black;
        }
      }
    }
    .rule {
      border-color: $black;
    }
    .header__color__picker {
      border-color: $black;
      &--toggle {
        margin-left: 0;
        background-color: $black;
      }
    }
  }
}
