@import "variables";

// General
/////////////////////////////////////////////////////
.pill {
  display: inline-block;
  padding: 0 $gutter;
  border: 1px solid;
  border-radius: 100px;
  white-space: nowrap;
}

.filled {
  font-weight: 300;
}

.rule {
  border-top: 1px solid;
  padding-top: $gutter;
}

.flex {
  display: flex;
  margin: 0 $gutter-half * -1;
  .project__image--flex {
    padding: 0 $gutter-half;
    flex-basis: 0%;
    flex-shrink: 1;
  }
  @include break-at("sm") {
    margin: 0 $gutter * -0.25;
    .project__image--flex {
      padding: 0 $gutter * 0.25;
    }
  }
}

// Header
/////////////////////////////////////////////////////
header {
  margin: $margin-sm 0;
}

.header__logo {
  float: left;
}

.header__toggle {
  overflow: hidden;
  height: 0;
  @include transition(height, 0.2s, ease-out);
}

.header__info__label {
  padding-bottom: $gutter-half;
}

.header__info__button {
  display: inline;
  float: right;
  margin: 0 0 0 $gutter-half;
  &:hover {
    @include pointer;
  }
  &#close {
    display: none;
  }
}

.header__info {
  margin-top: $margin-sm;
  margin-bottom: $margin-md;
}

.header__info__services {
  @include break-at("md") {
    margin-top: $margin-md;
  }
}
.header__info__contact,
.header__info__social,
.header__info__font {
  margin-top: $margin-md;
}

.header__color__picker {
  float: right;
  width: 40px;
  border-radius: 100px;
  margin-left: $gutter-half;
  border: 1px solid;
  @include pointer;
  &--toggle {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background-color: $gray;
    @include transition(margin, 0.2s, ease);
  }
}

// Home
/////////////////////////////////////////////////////
// .home__header {
//   margin-top: $margin-sm;
//   // @include break-at("md") {
//   //   margin-top: $margin-lg;
//   // }
//   // @include break-at("sm") {
//   //   margin-top: $margin-md;
//   // }
// }

.home__thumbnail__image {
  padding: $gutter;
  background-color: $white;
  @include roundCorners;
  @include transition(padding, 0.2s, ease-out);
  &:hover {
    padding-top: $gutter-half;
    padding-bottom: calc($gutter * 1.5);
  }
}

.home__thumbnail__info {
  margin: $gutter 0 $gutter 0;
}

// Project
/////////////////////////////////////////////////////
.project__header {
  margin-top: $margin-sm;
  @include roundCorners;
}

.project__blurb {
  margin: $margin-md 0;
  @include break-at("sm") {
    margin: $margin-md 0 0 0;
  }
}

.project__desc {
  margin: $margin-md 0;
  @include break-at("sm") {
    margin: 0 0 $margin-md 0;
    border: none;
  }
}

.project__desc__item {
  margin-top: $gutter;
  &:first-of-type {
    margin-top: $margin-md;
  }
}

.project__caption {
  margin-top: $margin-xl;
  margin-bottom: $margin-md;
  @include break-at("sm") {
    margin-bottom: $margin-sm;
  }
}

.project__credits {
  margin-top: $margin-md;
}

.project__more {
  margin-top: $margin-md;
}

.project__image {
  @include roundCorners;
  &--flex {
    img {
      @include roundCorners;
    }
  }
}

// Footer
/////////////////////////////////////////////////////
footer {
  margin-top: $margin-xl;
  padding-bottom: $margin-xl;
  @include break-at("md") {
    margin-top: $margin-md;
    padding-bottom: $margin-lg;
  }
}

.footer__block {
  @include break-at("md") {
    margin-top: $margin-sm;
  }
}

// Cookie Bar
/////////////////////////////////////////////////////
.default__content {
  margin-top: $margin-md;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#cookieBar {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin-left: 5px;
  z-index: 999;
}

.cookieBar__text {
  border-radius: 5px;
  background-color: #333333;
  padding: $gutter-half;
  font-size: 12px;
  font-weight: 200;
  p {
    color: $gray;
    font-size: 12px;
    display: inline;
    float: left;
    margin-right: 5px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#closeBar {
  color: $gray;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  @include pointer;
}
